body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}
.w3-row-padding img {
  margin-bottom: 12px;
}
/* Set the width of the sidebar to 120px */
.w3-sidebar {
  width: 120px;background: #222;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
  margin-left: 120px;
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .hide-li {
    display: none;
  }
  .mobile-bord-bot {
    border-bottom: 1px solid rgba(117, 117, 117, 1) !important; 
  }
}

.add-bord-bot { 
  border-bottom: 1px solid rgba(117, 117, 117, 1) !important; 
}

.add-bord-top { 
  border-top: 1px solid rgba(117, 117, 117, 1) !important; 
  padding-top: 10px; 
}

.gray-bord-bot {
  border-bottom: 1px solid rgba(117, 117, 117, 1) !important;
}

.gray-bord-bot:last-child {
  border: 1px solid transparent !important;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 540px;
  opacity: 0.75;
  transition: opacity 0.3s ease;
  background: rgba(10, 10, 10, 1);
  margin: 0 0 20px;
}

.project-card:hover {
  opacity: 1;
}

.project-link-ctnr {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 0;
}